<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="UTF-8">
    <title>Κλείσιμο Ραντεβού</title>
</head>
<body>
<h1>Κλείσιμο Νέου Ραντεβού</h1>

<div th:if="${errorMessage != null}" style="color: red;">
    <p th:text="${errorMessage}">Μήνυμα Λάθους</p>
</div>

<form th:action="@{/owners/appointments}" th:object="${appointment}" method="post">

    <div>
        <label for="pet">Κατοικίδιο:</label>
        <select id="pet" th:field="*{pet}" required>
            <option th:each="p : ${pets}" th:value="${p.id}" th:text="${p.name}"></option>
        </select>
    </div>

    <div>
        <label for="vet">Κτηνίατρος:</label>
        <select id="vet" th:field="*{veterinarian}" required>
            <option th:each="v : ${vets}" th:value="${v.id}" th:text="${v.username}"></option>
        </select>
    </div>

    <div>
        <label for="dateTime">Ημερομηνία & Ώρα (Πρέπει να είναι ακριβής μορφή):</label>
        <input type="datetime-local" id="dateTime" th:field="*{dateTime}" required>
    </div>

    <div>
        <label for="reason">Λόγος:</label>
        <input type="text" id="reason" th:field="*{reason}">
    </div>

    <button type="submit">Κλείσιμο Ραντεβού</button>
</form>

<p><a th:href="@{/owners/appointments}">Επιστροφή στη Λίστα Ραντεβού</a></p>
</body>
</html>
